body{
    width: 100%;
    height: auto;
    margin: auto;
}

ul li{
    list-style-type: none;
    display: inline;
}

.navigation{

    display: flex;
    justify-content: space-around
}

.parent-container{
    height: 667px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.title {
    
}